$normal-w: 80vw;
$landscape-w: 70vh;
$selected-color: #CC5500;
$cell-border: 1px solid gray;
$transition-style: all 25ms ease-in-out;
$content-top-margin: 1vh 0 0 0;

@import "_Menu";
@import "_Timer";

hr {
    border: 0;
    margin: 0;
    clear: both;
    display: block;
    background-color: gray;
    height: 1px;
  }

body {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    user-select: none;
}

h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 8vh;
    font-weight: 600;
}

.main {

    h1.title {
        align-self: flex-start;
        height: 10vh;
    }

    #app {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75vh;

        #score {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
            opacity: 0.4;
            font-size: 3vh;
        }
    }
}




.game-board {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .cell-board {
        width: $normal-w;
        height: $normal-w;

        .cell {
            margin: 1%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 50%;
            border: $cell-border;

            &.selected { @include clickStyle() }
        }
    }
}

#start {
    margin-top: 2vh;

    &.selected {
        @include clickStyle();
        transform: translateY(0.5vh);
    }
}

@media (orientation: landscape) {

    .main {

        h1.title {
            height: 8vh;
            font-size: 6vh;
        }

        #app {
            height: 80vh;
    
            #score {
                font-size: 3vh;
            }
        }
    }

    .game-board {
        .cell-board {
            width: $landscape-w;
            height: $landscape-w;
        }
    }

    #timer, #start {
        width: $landscape-w / 2 ;
        height: 8.4vh;
        p {
            font-size: 6vh;
        }
    }

}